.rectangle {
	width: 100px;
	height: 100px;
	border-width:1px;
	border-color:black;
	border-style:solid;
	display:flex;
	justify-content:center;
	align-items:center;
	background:lightgreen;
	padding:0;
}

.highlight {
	border-color:#efe;
	border-width:3px;
}

.blackCircle {
	background:black;
	border-radius:50%;
	width:90%;
	height:90%;
	border-style:solid;
	border-width:1px;
	animation-name: toblack;
	animation-duration: 0.5s;
}

.whiteCircle {
	border-radius:50%;
	border-color:black;
	width:90%;
	height:90%;
	border-style:solid;
	border-width:1px;
	background:white;
	animation-name: towhite;
	animation-duration: 0.5s;
}

@keyframes toblack{
	0% {background-color: white;}
	50% {background-color: white; width: 2%;}
	51% {background-color: black; width: 1%;}
	100% {background-color: black; width: 90%;}
}

@keyframes towhite{
	0% {background-color: black;}
	50% {background-color: black; width: 2%;}
	51% {background-color: white; width: 1%;}
	100% {background-color: white; width: 90%;}
}

.markerOpacity {
	opacity:0.5;
	animation-name: none;
}

.justPlaced {
	animation-name: none;
}

.row {
	display:flex;
	flex-direction:row;
}

.game {
	border-style:solid;
	border-width:1px;
	border-color:black;
	display:inline-block;
	/*margin-left: 20%;*/
	position: relative;
	align: center;
}

.wwinner {
	position: absolute;
	top: 30%;
	left: 22%;
	background-color: darkgreen;
	border: 1px black solid;
	padding: 5px;
	font-size: 50px;
	color: white;
}

.bwinner {
	position: absolute;
	top: 30%;
	left: 22%;
	background-color: lightgreen;
	border: 1px black solid;
	padding: 5px;
	font-size: 50px;
	color: black;
}

.rectangle:focus {
	outline:none;
}

.chat {
	border-style:solid;
	border-width:1px;
	border-color:black;
	margin-left:50px;
	width: 200px;
	height:800px;
	display:flex;
	flex-direction:column;
}

.outer {
	display:flex;
	flex-direction:row;
	flex-wrap: wrap;
	flex: 100%;
	justify-content: center;
}

.messages {
	flex:24;
	overflow:auto;
}

.newmessage {
	display:flex;
	flex:1;
}

.messageinput {
	margin-left:5%;
	margin-right:5%;
	width:90%;
	height:80%;
}

.top {
	display: flex;
	flex: 100%;
	flex-wrap: wrap;
}

.selector {
	margin-left: 20px;
	margin-top: 5px;
}

.clickBack {
	position: relative;
  width: 0;
  height: 0;
	border: none;
  border-top: 15px solid transparent;
  border-left: 15px solid red;
  transform: rotate(5deg);
	background: none;
	color: none;
	margin: 0px 20px;
}

.clickBack::after {
	content: "";
  position: absolute;
  border: 0 solid transparent;
  border-top: 7px solid red;
  border-radius: 0 30px 0 0;
  top: -19px;
  right: -8px;
  width: 24px;
  height: 24px;
  transform: rotate(-35deg);
}

.clickForward {
	position: relative;
  width: 0;
  height: 0;
	border: none;
  border-top: 15px solid transparent;
  border-right: 15px solid red;
  transform: rotate(-5deg);
	background: none;
	color: none;
	margin: 0px 20px;
}

.clickForward::after {
	content: "";
  position: absolute;
  border: 0 solid transparent;
  border-top: 7px solid red;
  border-radius: 30px 0 0 0;
  top: -19px;
  left: -8px;
  width: 24px;
  height: 24px;
  transform: rotate(35deg);
}
