.rectangle {
	width: 100px;
	height: 100px;
	border-width:1px;
	border-color:black;
	border-style:solid;
	display:flex;
	justify-content:center;
	align-items:center;
	background:lightgreen;
	padding:0;
}

.blackCircle {
	background:black;
	border-radius:50%;
	width:90%;
	height:90%;
	border-style:solid;
	border-width:1px;
}

.whiteCircle {
	border-radius:50%;
	border-color:black;
	width:90%;
	height:90%;
	border-style:solid;
	border-width:1px;
	background:white;
}

.markerOpacity {
	opacity:0.5;
}

.row {
	display:flex;
	flex-direction:row;
}

.game {
	border-style:solid;
	border-width:1px;
	border-color:black;
	display:inline-block;
	margin-left: 20%;
}

.rectangle:focus {
	outline:none;
}

.chat {
	border-style:solid;
	border-width:1px;
	border-color:black;
	margin-left:50px;
	width: 200px;
	height:800px;
	display:flex;
	flex-direction:column;
}

.outer {
	display:flex;
	flex-direction:row;
	flex-wrap: wrap;
}

.messages {
	flex:24;
	overflow:auto;
}

.newmessage {
	display:flex;
	flex:1;
}

.messageinput {
	margin-left:5%;
	margin-right:5%;
	width:90%;
	height:80%
}
