.rectangle {
	width: 100px;
	height: 100px;
	border-width:1px;
	border-color:black;
	border-style:solid;
	display:flex;
	justify-content:center;
	align-items:center;
	background:lightgreen;
	padding:0;
}

.blackCircle {
	background:black;
	border-radius:50%;
	width:90%;
	height:90%;
	border-style:solid;
	border-width:1px;
}

.whiteCircle {
	border-radius:50%;
	border-color:black;
	width:90%;
	height:90%;
	border-style:solid;
	border-width:1px;
	background:white;
}

.markerOpacity {
	opacity:0.5;
}

.row {
	display:flex;
	flex-direction:row;
}

.outer {
	border-style:solid;
	border-width:1px;
	border-color:black;
	display:inline-block;
}

.rectangle:focus {
	outline:none;
}